* {
    background-color: #143147;
    margin: 0;
}

/*Buttons*/
.buttonpack {
    display: flex;
    justify-content: center;
    transition-duration: 0.9s;
}
button:hover {
    background-color: #071929;
    cursor:pointer;
}
button{
   color: #fff;
   background-color: #002a4a;
   padding: 2rem 7rem;
   width:6rem 6rem;
   border: none;
   margin: 1rem;
   align-self: center;
   border-radius: 10px;
   font-size: 2rem;
}
/*Heading*/
.header-title{
    color: white;
    text-align: center;
    background-color: #071838;
    padding: 2rem;
    font-size:2rem;
}
/*Below Heading*/
.msg{
    text-align: center;
    padding: 2rem;
    font-size:1.7rem;
}
p{
    color: white;
}
h2{
    color: white;
}
.p1{
    font-size:2rem; 
    color: white;
}
.p2{
    color: white;
    padding-top: .3rem;
    font-size:1.5rem;
}
/*Score count and handsign*/
#output{
    display: flex;
    justify-content:center;
    padding: 3rem;
}
.output-player{
    padding-right: 4rem;
}
.output-cpu{
    padding-left: 4rem;
}

#Results{
    display: flex;
    justify-content:center;
}
#p-score{
    width: 80%; float:right
}
#c-score{
    width: 20%; float:left
}
/*Footer*/
.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    padding-top:10px;
    background:#020c1f;
    text-align: center;
    color:white;
}
